
@media print {
  @page {
    size: landscape;
    margin: 1cm;
  }
  
  body {
    margin: 0;
    padding: 0;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  
  .no-print {
    display: none !important;
  }
  
  .print-only {
    display: block !important;
  }
  
  table {
    page-break-inside: avoid;
    border-collapse: collapse;
    width: 100%;
  }
  
  table td, table th {
    border: 1px solid #000;
  }
}

.rotate-270 {
  transform: rotate(270deg);
  white-space: nowrap;
}
